
<%= render  "shared/navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'barfront.png' %>');">
  <div class="banner-content">
    <h1>Rae's cocktails</h1>
    <p>Your favourites with a twist</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-ghost" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm cards-index">
        <%= link_to cocktail_path(cocktail) do %>
            <div class="card">
              <% if cocktail.photo.attached? %>
                <img class="card-img-top" src="<%= cl_image_path cocktail.photo.key %>" alt="Card image cap">
              <% else %>
                <img class="card-img-top" src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1886&q=80" alt="Card image cap">
              <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= cocktail.name %></h5>
                </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    Rae
  </div>
</div>