
<%= render  "shared/navbar" %>

<div class="page-wrapper">
  <div class="show-container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @cocktail.name %></h1>
        <% if @cocktail.photo.attached? %>
            <%= cl_image_tag @cocktail.photo.key, class: "show-image" %>
        <% else %>
          <img class="card-img" src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1886&q=80" alt="Card image cap">
        <% end %>
      </div>
    </div>

    <div class="row description-container">
      <div class="col-sm-12">
        <div class="recipe-card">
          <h3>Recipe</h3>
          <table class="table table-bordered">
            <tbody>
              <thead>
                <th>Ingredient</th>
                <th>Description</th>
                <th>Action</th>
              </thead>
              <% @cocktail.doses.each do |dose| %>
                <tr>
                  <td><%= dose.ingredient.name %></td>
                  <td><%= dose.description %></td>
                  <td>
                    <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash destroy_dose"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="dose-card">
          <h3>Add dose</h3>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit, class: "btn btn-ghost" %>
          <% end %> 
        </div>
       
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="review-section">
        <h3>Reviews</h3>

        <% if @cocktail.reviews.empty? %>
            <p>Be the first to let a review</p>
        <% else %>
          <ul class="list-group">
            <% @cocktail.reviews.each do |review| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">  
                <span class="badge badge-pill">        
                  <% counter = 0 %>
                  <% 5.times do %>
                    <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                    <% counter += 1 %>
                  <% end %>    
                </span>             
                <%= review.content %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <%= simple_form_for [@cocktail, @review] do |f| %>
          <%= f.label :rating %>
          <%= f.select :rating, 1..5  %>
          <%= f.input :content %>
          <%= f.button :submit, class: "btn btn-ghost" %> 
        <% end %>
    </div>
  </div>
</div>